@import url('http://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.api-doc{
  margin-top: 20px;
  display: flex;
  align-items: left;
  justify-content: center;
  font-size: 24px;
}
