.service-block{
    align-items: left;
    margin-top:30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #dddcdc;
    padding: 8px 0px 8px 16px;
    width: 100%;
    justify-content: start;
    list-style: none;
    
}

.service-block-item{
    align-items: left;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
}

.service-block-item a{
    text-decoration: none;
}

.service-block-item a:link{
    color:blue;
}
.service-block-item a:visited{
    color: blue;
}

.service-block-item a:active{
    color:red;
}
.service-list{
    width: 70%;
    margin-left: 0;

}

.info-key{
    width: 110px;
}

span {
    margin-left: 5px;
}
