.navbar{
    background-color: #005068;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar-heading{
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 40%;
    color: #f5f5f5;
}

.dashboard-logo{
    margin-left: 2rem;
    font-size: 1.5rem;
    background: none;
    color: #f5f5f5;
    text-decoration: none;
}

.nav-menu{
    background-color: #005068;
    width: 12%;
    height: 100vh;
    display: flex;
    justify-content: start;
    position: fixed;
    top: 80px;
    /* left: -100%; */
    transition: 850ms;
}

.icon{
    font-size: 20px;
}

.nav-menu.active{
    left: 0;
    transition: 350ms;
}

.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover{
    background-color: #1a83ff;
}

.nav-menu-items{
    width: 100%;

}

.navbar-toggle{
    background-color: #005068;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}